
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 35%, rgba(0,212,255,1) 100%);
    color: aliceblue;
}
.titles{
    text-align: center;
}

h3{
    margin-left: 30%;
    font-size: 35px;
}
p{
    margin-left: 30%;
}
.pp{
    margin-left: 30%;
}